*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
font-family: Georgia, 'Times New Roman', Times, serif;

}

html, body{
    height: 100%;
    width: 100%;
}

.nav{
    z-index: 999;
    position: fixed;
    height: 10vh;
    width: 100vw;
    background-color: chartreuse;
    display: flex;
    /* for y axis */
    align-items: center;
    /* for x axis */
    justify-content: space-between;
    padding: 0 4vw;
border-bottom: 4px solid brown;

    
}
.navpart2{
    display: flex;
    /* justify-content: space-between; */
   align-items: center;
    /* gap: 2px; */
}
.nav h2{
    font-size: 3vw;
    font-weight: 800;
    color: #fff;
    font-family:cursive ;

}
.nav a{
    margin-right: 3vw;
    font-size: 1.5vw;
    color: black;
} 
.nav button{
    padding:1.1vh 1.1vw ;
    font-weight: 600;
    font-size: 1.5vw;
    margin-bottom: 5px;
    background-color: rgb(252, 112, 13);
}
.main h1{
    padding: 50vh 50vw;

}





.main{
    position: relative;
    height: 200vh;
    width: 100vw;
}








